.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.navLink {
    display: flex;
    list-style: none;
}

ul.navLink a {
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 500;
}
.logo {
    font-size: 2rem;
    font-weight: 700;
}
.navbar_content {
    background: repeating-linear-gradient(45deg, #3cd0e2, #2ec5f8 100px);
}