.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.navLink {
    display: flex;
    list-style: none;
}

ul.navLink a {
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 500;
}
.logo {
    font-size: 2rem;
    font-weight: 700;
}
.navbar_content {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }
}