.quizes__content {
  margin: 2rem auto;
  border: 1px solid #ddd;
  padding: 2rem;
  width: 40%;
  background: #242526;
  color: #e4e6eb;
  border-radius: 0.5em;
}
.quizes__content > div {
  display: flex;
  gap: 1rem;
}

.quizes__content > div > label {
  cursor: pointer;
}
.ans__show svg {
  font-size: 2rem;
  cursor: pointer;
}
.ans__show {
  cursor: pointer;
  display: flex !important;
  align-items: center;
  margin: 1rem 0;
}
